/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT

/*******************************************/

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header {
    width: 100%;
    padding: 2% 2%;
    display:flex;
    justify-content: space-around;
 
}

nav {

    width: 80%;
    margin-left: 5%;

}

nav a {
    text-decoration: none;
    color:black;
    padding: 0 2%;
}

header p{
    font-size: 24px;
    align-items: center;
    margin-top:-1%;
} 

header nav+p {
    font-size: 16px;
    margin-top:0;
}

nav a {
    text-decoration: none;
    padding: 0 30px;
    color: black;
    align-items: center;

} 
main {
    width: 100%;
    margin-top:-2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    
    height:600px;
    background-image: url("../colored-hair2.jpg") ; 
    background-repeat: no-repeat;
   background-size: cover;
   border-bottom-right-radius: 10%;
   box-shadow: 5px 5px 15px grey;
  
}


main>div.title {
    width: 45%;
    display:flex;
    flex-direction: column;

}


main .title h1 {
    font-size: 56px;
    margin-top: 23%;
}

main .title span {
    color:black;
}
.topP , .left{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: black;

    color:white;
    width: 20%;
    padding: 1%;

    margin: 3% 0 5% -25%;
}

.topP {
    width: 50%;
    margin-left: 1%;
    border-left: 3px solid white;
}

.left {
       box-shadow: 5px 5px 15px grey;
}
main section>section {
    width: 70%;
}

main section>section span {
    font-size: 32px;
    font-weight: bold;
}


.button{
    width: 20%;
    background-color: black;
    color:white;
    padding: 1%;
}

.services {
    margin-top: 7%;
    color:white;
}

.book {
    background-color: white;
    color:black;
}

.book , .read {
    width: 120px;
    height: 50px;
}

article {
    width: 50%;
    display:flex;
    justify-content: space-between;
    padding: 2%;
    margin-top: 7%;
    

}
article section{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
}

article section img {
    width: 75px;
    height: 75px;
}

.bottom {
    width: 50%;
    display:flex;
    justify-content: space-between;
    padding: 2%;
}

.leftSect {
    width: 40%;
}

.bottom img {
    width: 350px;
    height: 250px;
     margin-top:3%;
}

.leftSect h3 {
    font-size: 28px;
}


/* ////// MEDIA QUERIES //////////////// */

@media only screen and (max-width: 867px) {
  nav {
    display:flex;
    flex-direction: column;
    width: 30vw;
    border: 2px solid red;
  }

  nav a {
    font-size: 10px;
  }
}